.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cities {
  display: flex;
  justify-content: center;
}

.cities > h1 {
  margin: 10px 22px 10px 22px;
  cursor: pointer;
}

.cities > h1:hover {
  color: #43b7ff;
}

.active {
  color: #266e9b;
  font-weight: 700;
}

.progress {
  text-align: center;
}

.border {
  border: 8px solid red;
  border-radius: 15px;
  z-index: 10;
}

html {
  background-color: #eef6fb;
  color: white;
}

h1 {
  color: black;
  font-weight: 300;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 22px;
}
