.CardsList {
  display: flex;
  flex-direction: column;

  background-color: white;
  flex-wrap: wrap;
  width: 95%;
  max-width: 624px;
  padding: 1px;
  -webkit-box-shadow: 0px 0px 46px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 46px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 46px -10px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.cardItem {
  display: flex;
  justify-content: center;
  z-index: 1;
}
